h1 {
  color: goldenrod;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: green;
  color: white;
  text-align: center;
}

#message-1 {
  font-style: italic;
}

button {
  background-color: darkorange;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
